/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font/oswald-v31-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/font/oswald-v31-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/font/oswald-v31-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/font/oswald-v31-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/font/oswald-v31-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/font/oswald-v31-latin-regular.svg#Oswald") format("svg"); /* Legacy iOS */
}

html,
body {
  font-family: "Oswald";
  padding: 0px;
  margin: 0px;
}

.text-container {
  padding-top: 60px;
  padding-left: 30px;
  font-size: 25px;
}

@media (min-width: 320px) {
  .modal {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    position: absolute;
  }
  .text-container {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  .modal {
    display: inline-block;
    position: fixed;
    z-index: 1000;
    /* padding: 200px; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff9c4;
  }
  .modal #close-modal {
    float: left;
    cursor: pointer;
  }

  #meet {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .bookmark {
    width: 0px;
    height: 50px;
    border-left: 20px solid red;
    border-right: 20px solid red;
    border-bottom: 15px solid transparent;
    float: right;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    right: 30%;
    z-index: 2;
    cursor: pointer;
  }

  .nav {
    position: absolute;
    background-image: url("./assets/images/bananas.png");
    width: 300px;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    background-color: white;
    z-index: 1;
  }

  .nav-header {
    position: fixed;
    margin: 10px;
    padding: 20px;
    height: 30px;
    width: 240px;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: #fff9c4;
    z-index: 4;
  }
  .left {
    float: left;
    margin-right: 15px;
    /* fill: white; */
  }

  .close {
    float: right;
    cursor: pointer;
  }

  .loghi {
    margin-top: 75px;
    width: 240px;
    height: 80px;
    border-radius: 8px;
    /* margin: 0px 64px; */
  }

  .container {
    padding-top: 50px;
    padding-left: 20px;
    margin: 0 auto;
  }

  /* room single */
  .room {
    border: 1px solid #111111;
    color: white;
    width: 250px;
    height: 200px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  .room-container {
    width: 100%;
    height: 100%;
    flex: 0 0 120px;
    text-align: center;
    margin: auto;
  }

  .room:hover,
  .room:focus {
    transform: scale(1.1);
  }

  .room-name {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
  }
}
